#besedka-new-comment,
.besedka-new-reply {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--gap);
  margin: var(--gap) 0 calc(2 * var(--gap));
}

#besedka-new-comment:not(.besedka-previewing)::after {
  opacity: .3;
  position: absolute;
  background-color: var(--fg);
  content: '';
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"><path d="M20.553 18.15H3.447a1.443 1.443 0 0 1-1.442-1.441V7.291c0-.795.647-1.441 1.442-1.441h17.105c.795 0 1.442.646 1.442 1.441v9.418a1.441 1.441 0 0 1-1.441 1.441zM6.811 15.268V11.52l1.922 2.402 1.922-2.402v3.748h1.922V8.732h-1.922l-1.922 2.403-1.922-2.403H4.889v6.535h1.922zM19.688 12h-1.922V8.732h-1.923V12h-1.922l2.884 3.364L19.688 12z"/></svg>');
  width: 24px;
  height: 24px;
  bottom: 3.8rem;
  right: .5em;
}

.besedka-comment-author-input,
.besedka-comment-textarea {
  background: var(--input-bg);
  border-radius: .25rem;
  padding: .5rem .75rem;
  border: 0;
  font-size: 16px;
  color: var(--input-fg);

  &:focus { outline: 0 }
  &::placeholder { color: var(--input-placeholder) }
}

.besedka-comment-author-input {
  margin-left: auto;
  width: var(--rhs);
  border-radius: .3rem .3rem 0 0;
  box-shadow:
    var(--input-separator),
    0 3px 3px 0 var(--input-shadow-color);
}

.besedka-comment-textarea {
  margin: 0 0 1rem auto;
  width: var(--rhs);
  height: 7em;
  min-height: 2.5em;
  border-radius: .3rem;
  box-shadow: 0 2px 2px 0 var(--input-shadow-color);
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  resize: vertical;
}

.besedka-comment-error {
  --input-highlight: var(--red);
}

.besedka-post-comment-button,
.besedka-make-edits-button,
.besedka-cancel-reply {
  padding: .7em;
  border-radius: .35rem;
  white-space: nowrap;
}

.besedka-make-edits-button,
.besedka-cancel-reply {
  background: transparent;
  color: var(--fg);

  &:hover {
    background: var(--button-hover);
  }
}

.besedka-post-comment-button {
  margin-left: var(--lhs-gap);
  overflow: hidden;
  background: var(--blue);
  color: white;

  &:hover { opacity: .8 }
}
