.besedka-replies {
  opacity: .9;
  font-size: .8em;
  padding: 0;
  list-style: none;
  order: 4;

  .besedka-comment {
    border-top: none;
    display: block;
    position: relative;
    padding: 1rem 0 0 2.8rem;
    box-shadow: -1px 0 0 0 var(--separator-color);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: .5rem;
      height: 1px;
      background: var(--separator-color);
      left: -1px;
      top: 1.6rem;
    }

    &::after {
      width: 1px;
      height: 1.6rem;
      background: var(--separator-color);
      left: -1px;
      top: 0;
    }

    &:last-child {
      box-shadow: none;
    }

    > * { display: inline }
    > .besedka-comment-body > p,
    > .besedka-comment-body > p > *,
    > .besedka-comment-preview > p,
    > .besedka-comment-preview > p > * {
      display: inline
    }

    > .besedka-avatar {
      display: block;
      position: absolute;
      margin-top: 0;
      left: 1rem;
      --lhs: 1.2rem;
    }
  }

  .besedka-comment-author {
    font-size: .9em;
    opacity: .55;

    &::before { content: '— ' }
  }

  .besedka-comment-author,
  .besedka-comment-timestamp { margin-left: .2rem }

  .besedka-comment-timestamp { position: relative; top: 0; left: 0; font-size: .9em }

  .besedka-comment-body { margin-left: 0 }

  &:empty { display: none }

  .besedka-edit-comment,
  .besedka-delete-comment {
    width: .8rem;
    height: .8rem;
    margin: 0 0 0 .2rem;
    line-height: .2rem;
  }
  .besedka-edit-comment {
    margin: 0 0 0 .5rem;
  }
}

.besedka-replying .besedka-replies .besedka-comment:last-child {
  box-shadow: -1px 0 0 0 var(--separator-color);
}


.besedka-new-reply {
  width: 100%;
  position: relative;
  order: 6;
  margin: var(--gap) 0 0 calc(var(--lhs) + var(--gap));

  .besedka-avatar {
    margin: 0 calc(-1 * var(--gap)) 0 var(--gap);
    --lhs: 1.2rem;
  }

  .besedka-comment-textarea,
  .besedka-comment-author-input {
    --rhs: calc(100% - 2.9 * var(--gap));
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: .5rem;
    height: 1px;
    background: var(--separator-color);
    left: -1px;
    top: .6rem;
  }

  &::after {
    width: 1px;
    height: calc(var(--gap) * 1.6);
    background: var(--separator-color);
    left: -1px;
    top: calc(-1 * var(--gap));
  }

  &.besedka-anonymous-user {
    &::before { top: 1.1rem }
    &::after {
      top: calc(-1 * var(--gap));
      height: calc(var(--gap) * 2.1);
    }
  }

  &.besedka-previewing {
    display: block;
    position: relative;
    padding: 0 0 0 2.8rem;

    &::before { top: .8rem }
    &::after {
      height: calc(var(--gap) * 1.8);
    }

    .besedka-avatar {
      position: absolute;
      margin: 0;
      left: 1rem;
      top: .2rem;
    }

    .besedka-comment-author-preview {
      font-size: .9em;
      opacity: .55;

      &::before { content: '— ' }
    }

    .besedka-comment-author-preview,
    .besedka-timestamp-preview {
      margin-left: .2rem;
      position: relative;
      display: inline;
    }

    .besedka-timestamp-preview { position: relative; top: 0; left: 0; font-size: .9em }

    .besedka-comment-preview {
      margin-left: 0;
      font-size: .8em;
      width: unset;
      min-height: unset;
      display: inline;
      padding: 0;
      border-bottom: 0;

      > * { display: inline }
      > .besedka-comment-body > p,
      > .besedka-comment-body > p > *,
      > .besedka-comment-preview > p,
      > .besedka-comment-preview > p > * {
        display: inline
      }
    }

    margin-bottom: 5rem;

    > button {
      position: absolute;
      bottom: -4rem;
      margin-left: 0;
      margin-right: var(--gap);
    }
  }
}

.besedka-has-replies .besedka-new-reply { margin-top: 0 }
