.besedka-replies {
  opacity: .9;
  font-size: .8em;
  padding: 0;
  list-style: none;
  order: 4;

  .besedka-comment {
    border-top: none;
    display: block;
    position: relative;
    padding: var(--gap) 0 0 calc(0.8rem + var(--lhs));
    box-shadow: 1px 0 0 0 inset var(--separator-color);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: .5rem;
      height: 1px;
      background: var(--separator-color);
      left: 0;
      top: 1.6rem;
    }

    &::after {
      width: 1px;
      height: 1.6rem;
      background: var(--separator-color);
      top: 0;
    }

    &:last-child {
      box-shadow: none;
    }

    > *:not(.besedka-edit-comment-form) { display: inline }
    > .besedka-comment-body > p,
    > .besedka-comment-body > p > *,
    > .besedka-comment-preview > p,
    > .besedka-comment-preview > p > * {
      display: inline
    }

    > .besedka-avatar {
      display: block;
      position: absolute;
      margin-top: 0;
      left: 1rem;
      --lhs: 1.2rem;
    }

    &.besedka-edited-comment:not(.besedka-unreviewed-comment) > .besedka-comment-timestamp::after,
    &.besedka-unreviewed-comment:not(.besedka-edited-comment) > .besedka-comment-timestamp::after,
    &.besedka-unreviewed-comment.besedka-edited-comment > .besedka-comment-timestamp::after {
      margin-left: .25rem;
      font-size: .9em;
      content: '(Edited)';
    }

    &.besedka-unreviewed-comment:not(.besedka-edited-comment) > .besedka-comment-timestamp::after {
      content: '(Awaiting approval)';
    }

    &.besedka-unreviewed-comment.besedka-edited-comment > .besedka-comment-timestamp::after {
      content: '(Awaiting approval) (Edited)';
    }

    &.besedka-unreviewed-comment > .besedka-comment-timestamp::after { color: var(--red) }

    &.besedka-editing-comment {
      .besedka-comment-body,
      .besedka-comment-author,
      .besedka-comment-timestamp,
      .besedka-edit-comment,
      .besedka-delete-comment,
      .besedka-approve-comment {
        display: none;
      }
    }

    .besedka-edit-comment-form {
      margin-left: 0;

      @media screen and (max-width: 500px) {
        margin-top: 0;
      }
    }
  }

  .besedka-comment-author {
    &::before { content: '— ' }
    &::after { margin: 0 0 0 .3rem }
  }

  .besedka-comment-author,
  .besedka-comment-timestamp {
    margin-left: .3rem;
    font-size: .9em;
    opacity: .5;
  }

  .besedka-comment-timestamp {
    position: relative;
    top: 0;
    left: 0;
  }

  .besedka-comment-body { margin-left: 0 }

  &:empty { display: none }

  .besedka-edit-comment,
  .besedka-approve-comment,
  .besedka-delete-comment {
    width: .8rem;
    height: .8rem;
    margin: 0 0 0 .2rem;
    line-height: .2rem;
  }
  .besedka-edit-comment {
    margin: 0 0 0 .5rem;
  }
}

.besedka-replying .besedka-replies .besedka-comment:last-child {
  box-shadow: 1px 0 0 0 inset var(--separator-color);
}


.besedka-new-reply {
  width: 100%;
  position: relative;
  order: 6;
  margin: var(--gap) 2px 0 var(--lhs-gap);
  font-size: .8em;

  .besedka-avatar {
    margin: 0 calc(-1 * var(--gap)) 0 var(--gap);
    --lhs: 1.2rem;
  }

  .besedka-comment-textarea,
  .besedka-comment-author-input {
    --rhs: calc(100% - 2.9 * var(--gap));
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: .5rem;
    height: 1px;
    background: var(--separator-color);
    left: 0;
    top: .6rem;
  }

  &::after {
    width: 1px;
    height: calc(var(--gap) * 1.6);
    background: var(--separator-color);
    left: 0;
    top: calc(-1 * var(--gap));
  }

  &.besedka-anonymous-user {
    &::before { top: 1.1rem }
    &::after {
      top: calc(-1 * var(--gap));
      height: calc(var(--gap) * 2.1);
    }
  }

  &.besedka-previewing {
    display: block;
    position: relative;
    padding: 0 0 0 calc(var(--lhs) + 0.8rem);

    &::before { top: .6rem }
    &::after {
      height: calc(var(--gap) * 1.6);
    }

    .besedka-avatar {
      position: absolute;
      margin: 0;
      left: 1rem;
      top: 0;
    }

    .besedka-author-preview {
      &::before { content: '— ' }
      &::after { margin: 0 0 0 .3rem }
    }

    .besedka-author-preview,
    .besedka-timestamp-preview {
      opacity: calc(0.9 * 0.5);
      font-size: .9em;
      margin-left: .3rem;
      position: relative;
      display: inline;
    }

    .besedka-timestamp-preview { position: relative; top: 0; left: 0 }

    .besedka-comment-preview {
      opacity: .9;
      margin-left: 0;
      width: unset;
      min-height: unset;
      display: inline;
      padding: 0;
      border-bottom: 0;

      > * { display: inline }
      > .besedka-comment-body > p,
      > .besedka-comment-body > p > *,
      > .besedka-comment-preview > p,
      > .besedka-comment-preview > p > * {
        display: inline
      }
    }

    > button {
      margin-left: 0;
      margin-right: var(--gap);
    }

    .besedka-timestamp-preview::after {
      content: '';
      display: block;
      margin-top: var(--gap);
    }
  }

  @media screen and (max-width: 500px) {
    .besedka-comment-author-input,
    .besedka-comment-textarea {
      width: calc(100% - var(--gap));
    }
  }

  .besedka-edit-comment-form {
    margin-left: 0;
  }
}

.besedka-has-replies .besedka-new-reply { margin-top: 0 }
