#besedka {
  line-height: 1.5;
  overflow-x: hidden;

  --red: #f27983;
  --blue: #399ee6;
  --green: #a6cc70;
  --orange: #ffa759;
  --bg: white;
  --fg: #575f66;
  --icon-color: rgba(0,0,0,.2);
  --icon-color-hover: rgba(0,0,0,.4);
  --input-bg: white;
  --input-fg: #575f66;
  --input-placeholder: rgba(0,0,0,.2);
  --input-highlight: var(--blue);
  --input-shadow-color: rgba(0,0,0,.08);
  --separator-color: #e1e1e1;
  --input-separator:
    inset 0 .75rem 0 .75rem var(--input-bg),
    inset 0 0 0 1px var(--separator-color);
  --avatar-color: linear-gradient(45deg, #d8d8d8, #e8e8e8);
  --button-hover: rgba(0,0,0,.04);
  --gap: 1rem;
  --lhs: 2rem;
  --rhs: calc(100% - var(--gap) - var(--lhs));
  --lhs-gap: calc(var(--lhs) + var(--gap));

  @media screen and (max-width: 500px) {
    --lhs: 0px;
    --rhs: 100%;
    --lhs-gap: 0px;
    .besedka-avatar { display: none }
    .besedka-comment-body { margin-top: var(--gap) }
    .besedka-comment-preview { margin-top: calc(2 * var(--gap)) }
    button { font-size: .8rem !important }
  }

  @media screen and (prefers-color-scheme: dark) {
    --blue: #3f688f;
    --green: #99bf42;
    --bg: black;
    --fg: #cbccc6;
    --icon-color: rgba(255,255,255,.2);
    --icon-color-hover: rgba(255,255,255,.4);
    --input-bg: #101521;
    --input-fg: #cbccc6;
    --input-placeholder: rgba(255,255,255,.23);
    --input-shadow-color: transparent;
    --separator-color: #333843;
    --avatar-color: linear-gradient(45deg, #323A4C, #33415E);
    --button-hover: rgba(255,255,255,.05);
  }

  * { box-sizing: border-box }

  input, textarea {
    line-height: 1.5;
  }

  button {
    font-weight: 500;
    font-size: 16px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    cursor: pointer;
    appearance: none;
    border: none;
  }
}
